<div class="container">
  <div class="row">
    <div class="col-md-5 offset-md-3">
      <div class="card card-body bg-dark p-4 text-white">
        <div class="mb-3">
          <h1>Update a task</h1c>
        </div>
        <form action="/task/edit/{{task._id}}" method="post">
          <div>
            <input
              type="text"
              name="title"
              placeholder="Title"
              value="{{task.title}}"
              class="form-control rounded-0 bg-dark text-white mb-3"
            />
          </div>
          <div>
            <textarea
              name="description"
              rows="3"
              placeholder="Add a description"
              class="form-control rounded-0 bg-dark text-white mb-3"
            >{{task.description}}</textarea>
          </div>
          <button class="btn btn-primary">Update</button>
        </form>
      </div>
    </div>
  </div>
</div>